@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
}

body {
  background: #3f3851;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
}

#game-container {
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 16/9;
}

#play-again {
  position: absolute;
  margin-top: 15rem;
  display: none;
  background-color: #3f3851;
  color: #fff9bd;
  font-family: "VT323", monospace;
  padding: 1rem;
  font-size: 1.2rem;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
}
